/* Inserts: */

/* Fonts: */
@font-face {
    font-family: "display1";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 56px;
    line-height: 150px;
}

@font-face {
    font-family: "display2";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 64px;
    line-height: 140px;
}

@font-face {
    font-family: "h1";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 44px;
    line-height: 140px;
}

@font-face {
    font-family: "h2";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 40px;
    line-height: 140px;
}

@font-face {
    font-family: "h3";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 32px;
    line-height: 140px;
}

@font-face {
    font-family: "h4";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 24px;
    line-height: 140px;
}

@font-face {
    font-family: "h5";
    src: url(/src/fonts/rokhSemiBold.woff2) format("woff2");
    font-size: 20px;
    line-height: 140px;
}

@font-face {
    font-family: "h6";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 16px;
    line-height: 140px;
}

@font-face {
    font-family: "captionMD";
    src: url(/src/fonts/rokhSemiBold.woff2) format("woff2");
    font-size: 12px;
    line-height: 180px;
}

@font-face {
    font-family: "captionLG";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 14px;
    line-height: 180px;
}

@font-face {
    font-family: "buttonS";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 12px;
    line-height: 180px;
}

@font-face {
    font-family: "buttonMD";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 14px;
    line-height: 180px;
}

@font-face {
    font-family: "buttonLG";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 16px;
    line-height: 180px;
}

@font-face {
    font-family: "buttonXLG";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 18px;
    line-height: 180px;
}

@font-face {
    font-family: "mobile";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 10px;
    line-height: 180px;
}

@font-face {
    font-family: "mobileCard";
    src: url(/src/fonts/rokhBold.woff2) format("woff2");
    font-size: 11px;
    line-height: 180px;
}

@font-face {
    font-family: "bodyXXS";
    src: url(/src/fonts/rokhSemiBold.woff2) format("woff2");
    font-size: 14px;
    line-height: 180px;
}

@font-face {
    font-family: "bodyXS";
    src: url(/src/fonts/rokhSemiBold.woff2) format("woff2");
    font-size: 16px;
    line-height: 180px;
}

@font-face {
    font-family: "bodyS";
    src: url(/src/fonts/rokhSemiBold.woff2) format("woff2");
    font-size: 18px;
    line-height: 180px;
}

@font-face {
    font-family: "bodyRegular";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 20px;
    line-height: 180px;
}

@font-face {
    font-family: "bodySMD";
    src: url(/src/fonts/rokhRegular.woff2) format("woff2");
    font-size: 24px;
    line-height: 140px;
}

@font-face {
    font-family: "bodyMD";
    src: url(/src/fonts/rokhSemiBold.woff2) format("woff2");
    font-size: 24px;
    line-height: 200px;
}

@font-face {
    font-family: "bodyLG";
    src: url(/src/fonts/rokhRegular.woff2) format("woff2");
    font-size: 28px;
    line-height: 140px;
}

@font-face {
    font-family: "bodyXLG";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 32px;
    line-height: 140px;
}

@font-face {
    font-family: "body2XLG";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 40px;
    line-height: 140px;
}

@font-face {
    font-family: "body3XL";
    src: url(/src/fonts/rokhMedium.woff2) format("woff2");
    font-size: 44px;
    line-height: 140px;
}


/* Colors: */
:root {
    --primary: #CB1B1B;
    --white: #FFFFFF;
    --black: #121212;
    --green: #0F7B3B;
    --yellow: #FFB800;
    --tint01: #FDF1F1;
    --tint02: #FCE8E8;
    --tint03: #F9D2D2;
    --tint04: #F6BBBB;
    --tint05: #FCA197;
    --tint06: #F66262;
    --tint07: #E43434;
    --shade01: #B41818;
    --shade02: #9E1515;
    --shade03: #871212;
    --shade04: #700F0F;
    --shade05: #5A0C0C;
    --shade06: #430909;
    --neutral01: #FAFAFA;
    --neutral02: #F9F9F9;
    --neutral03: #EDEDED;
    --neutral04: #E1E1E1;
    --neutral05: #D9D9D9;
    --neutral06: #CBCBCB;
    --neutral07: #ADADAD;
    --neutral08: #909090;
    --neutral09: #717171;
    --neutral10: #505050;
    --neutral11: #353535;
    --neutral12: #212121;
    --neutral13: #121212;
}




/* Design: */
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 30px 0;
    padding-bottom: 8px;
    border-bottom: solid 1px var(--neutral06);
}

.topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerSearch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.headerSearch a {
    text-decoration: none;
}

.webTitle {
    font-family: "h4";
    color: var(--primary);
}

.searchBox {
    display: flex;
    flex-direction: row;
    position: relative;
}

header input[type="search"] {
    direction: rtl;
    font-family: "bodyS";
    width: 439px;
    height: 48px;
    padding: 12px;
    padding-right: 44px;
    background-color: var(--neutral03);
    border: none;
    outline: none;
    border-radius: 12px;
}

input[type="search"]::placeholder {
    font-family: "bodyS";
    color: var(--neutral09);
}

input[type="search"] + img {
    position: absolute;
    top: 12px;
    right: 12px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;  
    height: 18px;
    width: 18px;
    content: url("/src/svg/clearIcon.svg");
    cursor: pointer;
}

.headerBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.headerBtnStyle {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: solid 1px #CB1B1B;
    border-radius: 12px;
}

.shoppingBtn {
    width: 48px;
    height: 48px;
}

.loginBtn {
    width: 153px;
    height: 48px;
    gap: 8px;
}

.loginBtn p {
    font-family: "bodyS";
    color: var(--primary);
}

.headerMenu {
    padding: 8px 0;
}

.headerMenu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}

.headerMenu a {
    text-decoration: none;
}

.headerMenu li {
    font-family: bodyXS;
    color: var(--black);
}

#mainPage {
    color: var(--primary);
}